body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('assets/images/blank-white-notepaper-design_53876-118304.avif') center center / cover no-repeat;
    z-index: -1;
}

@font-face {
    font-family: specialFont;
    src: url(assets/fonts/GloriaHallelujah-Regular.ttf);
}


.titleText {
    font-size: 60px;
    padding-top: 40px;;
    text-align: center;
    font-family: specialFont;
}


.mainCard {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.noteForm {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    border-radius: 10px;

    padding: 30px;
    background: #fff8f8;
}

.fontDiv {
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.smallerIcon:hover,
.largerIcon:hover, .bi-pencil:hover {
    cursor: pointer;
}

.smallerIcon {
    margin-top: 4px;
    font-size: 16px;
}

.largerIcon {
    font-size: 22px;
}

.confirmBtn {

}

.contentTE {
    width: 100%;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 4px;
    font-size: 16px;
    resize: none;
}


.btn-secondary {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: grey;
}

.clearIconInline {
    position: static !important;
    transform: none !important;
    font-size: 22px;
    color: grey;
    cursor: pointer;
}

.clearIconInline:hover {
    color: black;
}

.timeContainer label {
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
}

.textareaWrapper {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    gap: 10px;
}

.timeInput {
    width: 200px;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid grey;
    font-size: 16px;
}

.addBtn {
    background-color: deepskyblue;
    color: white;
    height: 50px;
    border-radius: 10px;
    border: none;
    width: 350px;
    align-self: center;

}

.timeInputWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.timeInputWrapper .bi-arrow-left-circle-fill {
    margin: 0;
    padding: 0;
    color: deepskyblue;
    font-size: 24px;
}


.addBtn:hover {
    background-color: dodgerblue;
}


.containerDiv {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.messageDiv {
    font-size: 18px;
    color: red;
    margin: 0 auto;
    text-align: center;
}

.cardBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding-top: 10px;
}

.noteCardDiv {
    display: flex;
    flex-direction: column;
    height: 300px;
    box-sizing: border-box;
    position: relative;
    padding: 10px;
    justify-content: space-between;
    box-shadow: 0 -6px 16px rgba(0, 0, 0, 0.3), 0 6px 16px rgba(0, 0, 0, 0.2);
    width: 200px;
    min-height: 250px;
    border-radius: 10px;
    border: 2px solid #fbe7f1;
    background-color: white;
}

.noteCardDiv .bi-trash, .card .bi-pencil {
    position: absolute;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
    color: black;
}

.timeText {
    font-weight: bold;
}

.noteCardDiv .bi-trash {
    right: 10px;
    color: deepskyblue;
}

.noteCardDiv .bi-pencil {
    top: 8px;
    right: 40px;
    color: grey;
}

.noteContent {
    flex: 1;
    margin-bottom: 10px;
    overflow-y: auto;
    font-size: 16px;
    word-wrap: break-word;
}

.timeContainer {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 15px;
    font-size: 14px;
    align-content: center;
    align-items: center;
    align-self: center;
}

.timeContainer > label {
    font-weight: normal;
    color: black;
}

.timeText {
    align-items: end;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 4px;
}